# =========================
# Python
# =========================

venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Environment Variables
# =========================

.env
.env.*

# =========================
# Node / Frontend
# =========================

node_modules/
dist/
build/

# =========================
# Logs
# =========================

*.log

# =========================
# OS Files
# =========================

.DS_Store
Thumbs.db

# =========================
# IDE / Editor
# =========================

.vscode/
.idea/

# =========================
# Docker
# =========================

docker-data/

# =========================
# SonarQube
# =========================

.scannerwork/

# =========================
# Security / Secrets
# =========================

*.pem
*.key
*.crt

# =========================
# Coverage / Testing
# =========================

coverage/
htmlcov/
.pytest_cache/

# =========================
# Misc
# =========================

*.sqlite3